Authy\ Desktop/
autostart/
beekeeper-studio/
cef_user_data/
Code/
darktable/
dconf/
Docker\ Desktop/
Electron/
gcloud/
google-chrome/
i3/
inkscape/
menus/
Morgen/
nano/
obs-studio/
obsidian/
Paradigma\ Software\, Inc\./
ParadigmaSoft/
pulse/
spotify/
systemd/
Thunar/
Unknown\ Organization/
vifm/
vlc/
vscode-sqltools/
xfce4/
xsettingsd/
yay/
spicetify/

nwg-look/config
EOS-greeter.conf
eos-update-notifier.first_init
example.picom.conf
pavucontrol.ini
QtProject.conf
reflector-simple-free-params.txt
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
zoom.conf
zoomus.conf
btop/btop.log
gtk-3.0/bookmarks
gtk-3.0/gtk.css
gtk-3.0/settings.ini
gtk-4.0/gtk.css
gtk-4.0/settings.ini
