Authy\ Desktop/
autostart/
cef_user_data/
Code/
dconf/
Docker\ Desktop/
Electron/
gcloud/
google-chrome/
i3/
inkscape/
menus/
Morgen/
nano/
obs-studio/
Paradigma\ Software\, Inc\./
ParadigmaSoft/
pulse/
spotify/
Unknown\ Organization/
vifm/
vlc/
vscode-sqltools/
xfce4/
xsettingsd/
yay/

